* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #1c1c1c;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

img { 
  display: block;
  max-width: 100%; 
  height: auto;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.header {
  padding: 25px 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-list {
  display: flex;
  gap: 28px;
  margin-left: 112px;
}

.header__menu-link {
  opacity: 0.7;
  font-size: 14px;
}

.header__menu-link:hover {
  opacity: 1;
}

.header__menu-link--active {
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.button {
  border-radius: 5%;
  padding: 15px 37px;
  text-transform: uppercase;
  background-color: #F6762C;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.button:hover {
  background-color: #d85305;
}

.welcome {
  background-image: url(../images/welcome-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -100px;
  padding: 240px 0;
  min-height: 100%;
}

.welcome__content {
  max-width: 555px;
  padding-top: 47px;
}

.welcome__subtitle {
  font-size: 14px;
  letter-spacing: 0.1em;
}

.welcome__title {
  margin-top: 7px;
  font-size: 57px;
}

.welcome__text {
  opacity: 0.7;
  font-size: 18px;
  margin-top: 30px;
}

.welcome .button {
  margin-top: 60px;
}

.dishes {
  margin: 115px 0 102px;
}

.dishes__cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}

.card {
  grid-column: span 3;
  background-color: #312F30;
  border-radius: 10px;
  overflow: hidden;
}

.card__content {
  text-align: center;
  padding: 28px 19px 30px;
}

.card__title {
  font-size: 20px;
}

.card__text {
 margin-top: 13px;
 opacity: 0.7;
}

.order {
  background-color: #312F30;
  padding: 60px 0;
}

.order .container {
  display: flex;
  align-items: center;
}

.order__content {
  max-width: 370px;
  margin-left: 210px;
  padding-top: 10px;
}

.order__title {
  font-size: 44px;
}

.order__text {
  opacity: 0.7;
  margin-top: 27px;
}

.order__price {
  margin-top: 13px;
  margin-bottom: 11px;
  color: #F6762C;
  font-size: 20px;
}

.order__price--old {
  font-size: 16px;
  opacity: 0.7;
  text-decoration: line-through;
}

.button {

}

